.mainRow{
    position: fixed;
    justify-content: center;
    background-color: #F0F2F5;
    background-image: url('../assets/tim-mossholder-q49oU8NeOHQ-unsplash.jpg');

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100vw;
     height: 100vh;
     overflow: scroll;
}

.appointmentStyle{
    border-radius: 0px;
}

.internalFormContainer{
    border-radius: 0;
    padding: 20px;
    width: 500px;
    height: 450px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    margin-top: 130px;
}

.welcomeHeader{
    color: white;
    text-align: center;
}

