.navbarContainer{
    justify-content: left !important;
    background-color:black;
    height: 65px;
}

.brandText{
    color: white !important;
    text-align: center;
    float: right;
}

.logoCorte{
    color: white !important;
    text-align: center;
    float: right;
}

.customerName{
    color: white !important;
    float: right;
}

.links{
    color: white !important;
    opacity: 1 !important;
}

.menuIcon{
    color: white;
}

.buttonIcon{
    margin-right: 8px;
    border-style: none;
}

.corteLogo{
    overflow: hidden;
    height: 50px;
    margin-left: 30px;
    border-radius: 10px;
}
