.navbarContainer{
    justify-content: left !important;
}

.brandText{
    color: white !important;
    text-align: center;
}

.customerName{
    color: white !important;
    float: right;
}

.links{
    color: white !important;
    
}