.mainRow{
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: #F0F2F5;
}

.mainRow2{
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #F0F2F5;
}